{{!
    @template local_external_users/dashboard
}}

<head>
    <title>External Users Dashboard</title>
    <script src="{{host}}/theme/musi/javascript/datatables.min.js"></script>
</head>

{{^legend}}
<a class="btn btn-primary w-10 p-2" href="manage.php">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
</a>
{{/legend}}

<div class="wrapper">
    <div class="pending card py-2">
        <div class="btn btn-primary w-100">{{title}} ({{count}})</div>
        <div class="external content card-body py-2" style="max-height: unset">
            {{{table}}}
        </div>
    </div>

    {{#legend}}
    <div class="legend py-2">
        <ul style="list-style: none">
            <li><i class="fa fa-hourglass"></i><span> ... Nutzer hat Dateien eingereicht und wartet auf Freischaltung</span> </li>
            <li><i class="fa"></i><span> (L) ... Limited</span></li>
        </ul>
    </div>
    {{/legend}}
</div>

{{#js}}
    var linkElement = document.createElement("link");
    linkElement.rel = "stylesheet";
    linkElement.href = "{{host}}/theme/musi/scss/datatables.min.css";
    document.head.appendChild(linkElement);

    const tableCount{{table-id}} = document.getElementById("{{table-id}}").rows.length;
    if(tableCount{{table-id}} > 2) {
        if (typeof DataTable !== 'undefined') {
            let table = new DataTable('#{{table-id}}', {
            // options
            });
        }
    }
{{/js}}


