{{!
    @template local_external_users/dashboard
}}
<div class="wrapper">
    <div class="pending card py-2">
        <form action="manage_pending.php">
            <button class="btn btn-primary w-100" type="submit">{{pending}}</button>
        </form>
    </div>
    <div class="pending card py-2">
        <form action="manage_verified.php">
            <button class="btn btn-primary w-100" type="submit">{{approved}}</button>
        </form>
    </div>
    <div class="pending card py-2">
        <form action="manage_rejected.php">
            <button class="btn btn-primary w-100" type="submit">{{rejected}}</button>
        </form>
    </div>
    <hr>
    <div class="settings card py-2">
        <form action="/admin/category.php?category=local_external_users" method="post">
            <button class="btn btn-secondary w-100" type="submit">
                <i class="fa-solid fa-gear"></i> {{settings}}
            </button>
        </form>
    </div>
    <div class="authentication-settings card py-2">
        <form action="/admin/settings.php?section=authsettingexternal" method="post">
            <button class="btn btn-secondary w-100" type="submit">
                <i class="fa-solid fa-gear"></i> {{auth_settings}}
            </button>
        </form>
    </div>
</div>



