{{!
    @template local_external_users/profilefiles

    User uploaded profile files template.

    Example context (json):
    {
        "sectiontitle": "Required Documents",
        "data": ["<a href='#'>Document 1</a>", "<a href='#'>Document 2</a>"],
        "comment": "Please verify before approval."
    }
}}

<section class="node_category card d-inline-block w-100 mb-3">
    <div class="card-body"><h3 class="lead">{{sectiontitle}}</h3>
        <ul>
            {{#data}}
                <li>{{{.}}}</li>
            {{/data}}
        </ul>
        {{#comment}}
            <hr>
            <p><i class="fa fa-info-circle" aria-hidden="true"></i> {{comment}}</p>
        {{/comment}}
    </div>
</section>
