{{!
    @template local_external_users/profile_control
}}
<div class="card-body">
    <form action="approve.php">
        <input type="text" name="id" value="{{userid}}" hidden>
        <input type="text" name="type" value="{{action}}" hidden>
        {{#action}}
            <label for="price_category">eduScope:</label><br>
            <select class="select custom-select cal_courses_flt ml-1 mr-auto" name="tariff">
                <option value="staff">staff</option>
                <option value="student">student</option>
                <option value="external">external</option>
            </select>
        {{/action}}
        <button class="btn btn-{{btn1_style}}">{{btn_label1}}</button>
    </form>
</div>
<hr>
<div class="card-body">
    <form method="post" action="reject.php">
        <input type="text" name="id" value="{{userid}}" hidden>
        <fieldset>
            <legend>{{legend}}</legend>
            {{{options}}}
            <label for="comment">Comment:</label><br>
            <textarea id="comment" name="comment" rows="4" cols="50">
        </textarea>
        </fieldset>
        <button class="btn btn-danger">Reject</button>
    </form>
    <hr>
</div>
