{{!
    @template local_external_users/profile
}}
<div class="float-right">
    <form action="manage.php">
        <button class="btn btn-primary">Back to Overview</button>
    </form>
</div>
<div class="card-body">
    <h3 class="lead">{{firstname}} {{middlename}} {{lastname}}</h3>
    <ul>
        <li class="contentnode">
            {{username}}
        </li>
        <li class="contentnode">
            {{mail}}
        </li>
        <li class="contentnode">
            {{phone}}
        </li>
        <li class="contentnode">
            {{eduScope}}
        </li>
        <li class="contentnode">
            {{approveduntil}}
        </li>
        <li class="contentnode">
            {{firstaccess}}
        </li>
    </ul>
</div>


