{{!
    @template local_external_users/profile
}}
<div class="float-right">
    <form action="manage.php">
        <button class="btn btn-primary">Back to Overview</button>
    </form>
</div>
<div class="card-body">
    <h3 class="lead">{{firstname}} {{middlename}} {{lastname}}</h3>
    <ul>
        <li class="contentnode">
            {{verified}}
        </li>
        <li class="contentnode">
            {{verifiedtill}}
        </li>
    </ul>
    {{#userpiclink}}
        <div class="content">
            <h3>ID Card</h3>
            <p>
                <img src="{{{userpiclink}}}" class="text-center w-50">
            </p>
        </div>
    {{/userpiclink}}
    <div class="content">
        <h3>{{uploadedfiles_header}}</h3>
        <p>{{{filetable}}}</p>
    </div>
</div>


